<a href="https://colab.research.google.com/github/kp10x/ML-Lab/blob/main/Bayesian_Network_(Different_Dataset).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Bayesian Network (Different Dataset)

In [10]:
# install required packages
! pip install pgmpy -q

In [11]:
import numpy as np
import pandas as pd
import csv 
from pgmpy.estimators import MaximumLikelihoodEstimator
from pgmpy.models import BayesianModel
from pgmpy.inference import VariableElimination

In [12]:
dfDiabetes = pd.read_csv('diabetes.csv').head(50)
dfDiabetes = dfDiabetes.replace('?',np.nan)

dfDiabetes.sample(10)

    Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
2             8      183             64  ...                     0.672   32        1
6             3       78             50  ...                     0.248   26        1
39            4      111             72  ...                     1.390   56        1
1             1       85             66  ...                     0.351   31        0
20            3      126             88  ...                     0.704   27        0
17            7      107             74  ...                     0.254   31        1
11           10      168             74  ...                     0.537   34        1
37            9      102             76  ...                     0.665   46        1
19            1      115             70  ...                     0.529   32        1
29            5      117             92  ...                     0.337   38        0

[10 rows x 9 columns]

In [13]:
model = BayesianModel(
    [
        ("Glucose", "Outcome"),
        ("BloodPressure", "Outcome"),
        ("Age", "Outcome"),
    ]
)

In [14]:
model.fit(dfDiabetes, estimator=MaximumLikelihoodEstimator)

In [15]:
# Inferencing with Bayesian Network
DiabetesTestInfer = VariableElimination(model)

In [16]:
print('\n 1. Probability of Diabetes given evidence= Glucose')
q = DiabetesTestInfer.query(variables=['Outcome'], evidence={'Glucose':100})
print(q)

Finding Elimination Order: : 100%|██████████| 2/2 [00:00<00:00, 273.69it/s]
Eliminating: Age: 100%|██████████| 2/2 [00:00<00:00, 182.54it/s]

 1. Probability of Diabetes given evidence= Glucose
+------------+----------------+
| Outcome    |   phi(Outcome) |
+============+================+
| Outcome(0) |         0.4982 |
+------------+----------------+
| Outcome(1) |         0.5018 |
+------------+----------------+

In [17]:
print('\n 2. Probability of Diabetes given evidence= BloodPressure ')
q = DiabetesTestInfer.query(variables=['Outcome'], evidence={'BloodPressure':80})
print(q)

Finding Elimination Order: : 100%|██████████| 2/2 [00:00<00:00, 244.67it/s]
Eliminating: Age: 100%|██████████| 2/2 [00:00<00:00, 189.25it/s]

 2. Probability of Diabetes given evidence= BloodPressure
+------------+----------------+
| Outcome    |   phi(Outcome) |
+============+================+
| Outcome(0) |         0.4998 |
+------------+----------------+
| Outcome(1) |         0.5002 |
+------------+----------------+

In [18]:
print('\n 2. Probability of Diabetes given evidence= Age ')
q = DiabetesTestInfer.query(variables=['Outcome'], evidence={'Age':35})
print(q)

Finding Elimination Order: : 100%|██████████| 2/2 [00:00<00:00, 182.89it/s]
Eliminating: Glucose: 100%|██████████| 2/2 [00:00<00:00, 85.06it/s]

 2. Probability of Diabetes given evidence= Age
+------------+----------------+
| Outcome    |   phi(Outcome) |
+============+================+
| Outcome(0) |         0.5008 |
+------------+----------------+
| Outcome(1) |         0.4992 |
+------------+----------------+